
.comment-section>*{
  margin-bottom: 1.5rem;
}
.comment-section .avatar-box{
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  border-radius: 50%;
  background-color: grey;
  color: white;
  text-align: center;
  font-size: 2rem;
}
.comment-box{
  margin-bottom: 3rem;
}
.comment-section .comment-box textarea{
  margin-bottom: 1rem;
}
.comment-section .comment-count-text{
  font-size: 1.5rem;
  text-decoration: underline;
  color: orange;
}