
:root{
  --primary: rgb(52, 69, 229); 
  /* 60% */
  --secondary: rgb(24, 24, 36); 
  /* 30% */
  --accent: rgb(31, 30, 46);
  /* 10% */
  /* theme */
  --background-light: #f0f7f6;
  
  --text-color-primary: #333;
}