<div class="index-table-section">
  <div class="my-index-table">
    <h5>Index table</h5>
    <nav class="flex-column ms-3">
      <a href="#item-1"><i class="fas fa-chevron-right"></i> 1. Giới thiệu</a><br>
      <a href="#item-2"><i class="fas fa-chevron-right"></i> 2. Front end</a>
      <nav class="flex-column ms-3">
        <a href="#item-2-1"><i class="fas fa-chevron-right"></i> 2.1 Giới thiệu</a><br>
        <a href="#item-2-2"><i class="fas fa-chevron-right"></i> 2.2 Ngôn ngữ</a><br>
        <a href="#item-2-3"><i class="fas fa-chevron-right"></i> 2.3 Làm việc với front end</a>
      </nav>
      <a href="#item-3"><i class="fas fa-chevron-right"></i> 2. Back end</a>
      <nav class="flex-column ms-3">
        <a href="#item-3-1"><i class="fas fa-chevron-right"></i> 2.1 Giới thiệu</a><br>
        <a href="#item-3-2"><i class="fas fa-chevron-right"></i> 2.2 Ngôn ngữ</a><br>
        <a href="#item-3-3"><i class="fas fa-chevron-right"></i> 2.3 Làm việc với back end</a>
      </nav>
    </nav>
  </div>
</div>