<header>
	<a href="#"><img src="/public/assets/images/node-logo-white.png" alt=""></a>
	<div class="d-flex align-items-center">
		<ul>
			<li><a href="">Courses</a></li>
			<li><a href="">Code playground</a></li>
			<li><a href="">Discuss</a></li>
			<li><a href="">Blog</a></li>
			<li><a href="">Get pro</a></li>
		</ul>
		<div class="header-btn-wrapper">
			<button>Log in</button>
			<button>Register</button>
		</div>
	</div>
</header>