<div class="row">
    <div class="container header">
        <div class="row header_search">
            <div class="image">
                <img src="../../../public/assets/images/lg1.png" alt="">
            </div>
            <div class="search_box">
                <form action="/search">
                    <input type="text" placeholder="Nhập tiêu đề bài viết" name="searchKey">
                    <button type="submit"> <i class="fas fa-search"></i></button>
                </form>
              
            </div>
        </div>
        <div class="row navigation">
            <ul class="list">
                <li class="item active">
                    <a href="" class="item_link">
                        Blog của tôi
                    </a>
                </li>
                <li class="item">
                    <a href="" class="item_link">
                        Ngô ngữ <i class="fas fa-angle-down"></i>
                    </a>
                    <div class="sub_list">
                        <ul>
                            <li><a href=""> HTML and CSS</a> </li>
                            <li><a href="">JavaScript cơ bản</a></li>
                            <li><a href="">ReacJS</a></li>
                            <li><a href="">PHP năng cao</a></li>

                        </ul>
                    </div>
                </li>
                <li class="item">
                    <a href="" class="item_link">
                        Kinh nghiệm <i class="fas fa-angle-down"></i>
                    </a>
                    <div class="sub_list">
                        <ul>
                            <li><a href=""> Kinh nghiệm phỏng vấn</a> </li>
                            <li><a href="">Tự học lập trình hiệu quả</a></li>
                            <li><a href="">Rèn luyện kĩ năng mềm</a></li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <a href="" class="item_link">
                        Review sách
                    </a>
                </li>
                <li class="item">
                    <a href="" class="item_link">
                        Về tôi
                    </a>
                </li>
                <li class="item large_menu">
                    <a href="" class="item_link">
                       ...
                    </a>
                    <div class="large_menu_div">
                        <ul class="listLanguage">
                            <h5>Ngôn ngữ</h5>
                            <li><a href="">HTML and CSS</a></li>
                            <li><a href="">JavaScript cơ bản</a></li>
                            <li><a href="">ReacJS</a></li>
                            <li><a href="">PHP năng cao</a></li>

                        </ul>
                        <ul class="listExperience">
                            <h5>Kinh nghiệm</h5>
                            <li><a href="">Kinh nghiệm phỏng vấn</a></li>
                            <li><a href="">Tự học lập trình hiệu quả</a></li>
                            <li><a href="">Rèn luyện kĩ năng mềm</a></li>
                        </ul>
                        <ul class="listAboutme">
                            <h5>Chuyện về tôi</h5>
                            <li><a href="">Cuộc sống</a></li>
                            <li><a href="">Sự nghiệp</a></li>
                            <li><a href="">Hôn nhân</a></li>
                        </ul>
                        <ul class="listReview">
                            <h5>Review Sách</h5>
                            <li><a href="">Code Dạo Kí Sự</a></li>
                            <li><a href="">Tớ Học Lập Trình</a></li>
                            <li><a href="">Hacker Lược sử</a></li>
                            <li><a href="">Lập Trình và cuộc sống</a></li>

                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="breadcums row">
            <ul>
                <li>Home</li>
                <li><i class="fa fa-angle-right"></i></li>
                <li>Tất cả bài viết</li>
            </ul>
        </div>
    </div>
</div>